
.navContainer{
    width: 100%;
    height: 100px;
    background-color: #0066a6;
    box-sizing: border-box;
    padding: 10px;
    .navWrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 190px;
        }
    }
}